<div data-role="header" data-position="fixed" data-tap-toggle="false"
     data-theme="a" style="display:none">
  <a href="/menu" data-icon="bars" data-iconpos="notext">Menu</a>
  <h1>&nbsp;</h1>
  <button data-icon="action" data-iconpos="notext">Flip</button>
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false"
     data-theme="a" style="display:none">
  <a data-icon="arrow-l" data-iconpos="notext"
     class='ui-btn-left'
     data-transition="slide" data-direction="reverse"
     href="#">Previous</a>
  <h3>&nbsp;</h3>
  <a data-icon="arrow-r" data-iconpos="notext"
     class='ui-btn-right'
     data-transition="slide"
     href="#">Next</a>
</div>
