<html>
  <head>
    <title>{{label}}</title>
  </head>
  <body>
    <div data-role="page">
      {{#title}}
      <div data-role="header" {{^flip}}data-position="fixed"{{/flip}} 
        data-id="slide_header">
        <a href="menu" data-icon="bars" data-iconpos="notext">Menu</a>
        <h1>{{title}}</h1>
      </div>
      {{/title}}
      <div data-role="content"{{#class}} class="{{class}}"{{/class}}>
        {{#split}}
        <div class="ui-grid-a">
        <div class="ui-block-a">
        {{/split}}
        {{>slide_content}}
        {{#split}}
        </div>
        <div class="ui-block-b">
        {{>slide_content}}
        </div>
        </div>
        {{/split}}
      </div>
      <div data-role="footer" {{^flip}}data-position="fixed"{{/flip}} data-id="slide_footer">
        {{#prev}}
        <a data-icon="arrow-{{#down}}u{{/down}}{{^down}}l{{/down}}"
           data-iconpos="notext" class="ui-btn-left" data-direction="reverse"
           {{#transition}}data-transition="{{transition}}"{{/transition}}
           href="{{pages.base_url}}{{prev}}">Previous</a>
        {{/prev}}
        <h3>
          {{#url}}{{^hide-url}}<a href="{{url}}" rel="external" target="_blank">{{url}}</a>{{/hide-url}}{{/url}}
          {{^url}}&nbsp;{{/url}}
        </h3>
        {{#next}}
        <a data-icon="arrow-{{#next_down}}d{{/next_down}}{{^next_down}}r{{/next_down}}"
           data-iconpos="notext" class="ui-btn-right"
           {{#next_transition}}data-transition="{{next_transition}}"{{/next_transition}}
           href="{{pages.base_url}}{{next}}">Next</a>
        {{/next}}
      </div>
    </div>
  </div>
</html>
