.error {
    color: red;
    clear: both;
}

.footer {
    text-align: center;
    font-size: 0.8em;
}
.footer, .footer a, .footer a:visited {
    color: #999;
}

.map {
    border: 1px solid #999;
}
.map.list-map {
    height: 500px;
}
.map.detail-map {
    height: 300px;
}
.map.edit-map {
    height: 400px;
}
h1 {
   margin-top: 0.2em;
   margin-bottom: 0.2em;
}
/*
.ui-page {
  padding-left: 1em;
  padding-right: 1em;
}
*/
.ui-footer .ui-btn-left, .ui-footer .ui-btn-right {
  top: auto;
  bottom: 0.2em;
}
.ui-page {
  -webkit-backface-visibility: hidden;
}
iframe {
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}
iframe.mobile {
  left: calc(50% - 200px);
  width: 400px;
}
img.full-height {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
img.full-width {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
td {
  text-align: center;
}
