.ui-content {
  font-size: 2.2em;
}
.ui-header .ui-title {
  font-size: 2.2em;
  margin: 0.3em;
}
.ui-content li {
  margin-bottom: 0.2em;
}
.ui-content .ui-block-a {
  padding-right: 12px;
}
.ui-content a {
  text-decoration: none
}
.ui-page {
  -webkit-backface-visibility: hidden;
}
iframe {
  position: absolute;
  left: 0;
  right: 0;
  height: 610px;
  top: 64px;
  width: 100%;
  bottom: 30px;
}
code {
  font-size: 28px;
}
.map {
  border: 1px solid #999;
  height: 610px;
}
img.full-height {
  height: 610px;
}
img.full-width {
  width: 100%;
}
.center {
  text-align: center;
}
.footnote {
  position:absolute;
  bottom:2em;
  font-size:18px;
}
